.novios{
  background: url('main.jpg') no-repeat center;
  background-size: 150%;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 55vh;
}
.colibri{
  background: url('colibri.jpg') no-repeat center;
  background-size: 135%;
  background-attachment: fixed;
  height: 75vh;
}
.titulo{
  font-family: 'Dancing Script', cursive;
  font-size: 25vw;
}
.poema{
  font-family: 'Dancing Script', cursive;
  font-size: 6vw;
}
.corintios{
  font-family: 'Dancing Script', cursive;
  font-size: 10vw;
}